{% extends 'base.html' %}

{% block menu %}
  {% include 'admin/menu.html' %}
{% endblock %}

{% block content %}
<section>
  <div class="container">
    {% include 'flash_messages.html' %}
    <div class="text-center">
        <a href="{{ url_for('new_content') }}"><button class="btn btn-success btn-lg center">Ajouter une description</button></a>
    </div>

    <hr>

    <p>Il y a {{ total }} descriptions. </p>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Sex</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for content in contents: %}
          <tr>
            <th scope="row">{{ content.id }}</th>
            <td>{{ content.description }}</td>
            <td>{{ content.sex }}</td>
            <td>
              <a href="{{ url_for('update_content', id=content.id) }}"><i class="fa fa-pencil-square-o"></i></a>
              <a href="{{ url_for('delete_content', id=content.id) }}"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</section>



{% endblock %}
