{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          {% include 'card.html' %}
        </div>
    </div>
    <div class="row">
      <div class="intro-text">
        <h1 class="name">Prêt-e à savoir qui tu es vraiment ?</h1>
        <hr class="star-light">
        <!-- <span class="skills">Fais le test !</span> -->
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="">
          Connecte-toi à Facebook afin de connaître les résultats !
        </p>
        <p style="margin-top: 20px;">
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
        </p>

        <!-- <a href="#" class="btn btn-lg btn-outline big-button facebook_button">
          <img src="{{user_image}}" id="button_user_pic" alt="">Continuer en tant que {{ user_name }}
        </a> -->
      </div>
    </div>
  </div>
</header>

<div id="fb-root"></div>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
      FB.login(function(response) {
        window.response = response
      }, {scope: 'public_profile'});
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{fb_app_id}}',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId={{ fb_app_id }}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome! Fetching your information.... ');
    FB.api('/me', {fields: 'id, first_name'}, function(response) {
      console.log('Successful login for: ' + response.first_name);
      var id = response.id;
      var url = '/result?first_name=' + response.first_name + '&id=' + id
      window.location.replace(url)
    });
  }
</script>

{% endblock %}
